body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 47, 106);
    border: 4px dashed rgb(0, 0, 0);
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: rgb(255, 149, 195);
    box-shadow: 7px 7px 7px white;
    margin-top: 50px;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}